.root,
.radio,
.icon {
  transition: var(--short-transition);
}

.root {
  cursor: pointer;
  gap: var(--base-spacing);
}

.root:hover,
.root.on,
.root:focus-within {
  color: var(--gray-600);
}

.root:hover .radio,
.radio.on {
  box-shadow: var(--dark-box-shadow);
}

.radio {
  height: 20px;
  width: 20px;
  box-shadow: var(--light-box-shadow);
}

.radio.on {
  background: var(--gray-100);
}

.radio.on .icon {
  opacity: 1;
  transform: scale(1);
}

.icon {
  opacity: 0;
  transform: scale(0.5);
  height: 14px;
  width: 14px;
}
