.label,
.toggleButton {
  transition: var(--short-transition);
}

.label {
  cursor: pointer;
}

.label.on,
.label:hover,
.label:focus-within {
  color: var(--gray-600);
}

.label:hover .toggleButton {
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
}

.icon {
  border-radius: 100%;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
  height: var(--sm-spacing);
  width: var(--sm-spacing);
}

.toggleButton {
  background-color: var(--gray-100);
  border-radius: var(--md-spacing);
  justify-content: flex-start;
  width: calc(var(--md-spacing) + var(--base-spacing));
}

.toggleButton.on {
  justify-content: flex-end;
}

.toggleButton.on .icon {
  background-color: var(--gray-600);
}
