.label {
  align-items: center;
  color: var(--gray-500);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  transition: all 0.1s ease-out;
}

.label.on,
.label:hover,
.label:focus-within {
  color: var(--gray-600);
  transition: all 0.1s ease-out;
}

.label:hover .toggleButton {
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
  transition: all 0.1s ease-out;
}

.icon {
  border-radius: 100%;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
  height: var(--sm-spacing);
  width: var(--sm-spacing);
}

.toggleButton {
  background-color: var(--gray-100);
  border: none;
  border-radius: var(--md-spacing);
  color: var(--white);
  display: flex;
  justify-content: flex-start;
  padding: var(--base-unit);
  transition: all 0.1s ease-out;
  width: calc(var(--md-spacing) + var(--base-spacing));
}

.toggleButton .icon {
  background-color: var(--white);
}

.toggleButton:hover {
  cursor: pointer;
}

.toggleButton.on {
  justify-content: flex-end;
}

.toggleButton.on .icon {
  background-color: var(--gray-600);
}
