/* Global CSS variables */
:root {
  --base-font: 'Merriweather', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --base-unit: 0.32rem;
  --base-spacing: calc(var(--base-unit) * 2);
  --sm-spacing: calc(var(--base-spacing) * 2);
  --md-spacing: calc(var(--sm-spacing) * 2);
  --lg-spacing: calc(var(--md-spacing) * 2);

  --gray-100: #ebebfb;
  --gray-200: #b8b4c4;
  --gray-300: #a5a5c2;
  --gray-400: #8c8ca4;
  --gray-500: #84849c;
  --gray-600: #30305c;
  --black: #222224;
  --white: #fff;

  --h1: 3.052rem;
  --h2: 2.441rem;
  --h3: 1.953rem;
  --h4: 1.563rem;
  --h5: 1.25rem;
  --h6: 1.1rem;
  --base-font-size: 1rem;
  --base-line-height: 1.5;
  --heading-line-height: 1.2;
}

body {
  font: var(--base-font-size, 1rem) / var(--base-line-height, 1.5)
    var(--base-font, 'Open Sans');
  background: var(--gray-100);
  color: var(--black);
}

.small {
  font-size: 0.8rem;
  font-weight: 600;
}

button {
  outline-color: var(--gray-600);
}
